# Categorical to Numeric

In [45]:
import numpy as np
import pandas as pd

In [66]:
dataset_url = 'https://raw.githubusercontent.com/HambaliFitrianto/datamining/main/credit_score.csv'
data = pd.read_csv(dataset_url)

In [81]:
data.head()

,Unnamed: 0,kode_kontrak,pendapatan_setahun_juta,kpr_aktif,durasi_pinjaman_bulan,jumlah_tanggungan,rata_rata_overdue,risk_rating
0,1,AGR-000001,295,YA,48,5,61 - 90 days,4
1,2,AGR-000011,271,YA,36,5,61 - 90 days,4
2,3,AGR-000030,159,TIDAK,12,0,0 - 30 days,1
3,4,AGR-000043,210,YA,12,3,46 - 60 days,3
4,5,AGR-000049,165,TIDAK,36,0,31 - 45 days,2

In [97]:
data_asli = data.drop(columns=['kpr_aktif', 'rata_rata_overdue'])

In [98]:
data_kpr = data[["kpr_aktif"]]

In [99]:
data_kpr.head(25)

   kpr_aktif
0         YA
1         YA
2      TIDAK
3         YA
4      TIDAK
5      TIDAK
6      TIDAK
7      TIDAK
8      TIDAK
9      TIDAK
10     TIDAK
11     TIDAK
12     TIDAK
13     TIDAK
14     TIDAK
15     TIDAK
16        YA
17     TIDAK
18     TIDAK
19     TIDAK
20     TIDAK
21     TIDAK
22     TIDAK
23     TIDAK
24     TIDAK

In [100]:
kpr_aktif = pd.get_dummies(data_kpr)

In [101]:
kpr_aktif

     kpr_aktif_TIDAK  kpr_aktif_YA
0                  0             1
1                  0             1
2                  1             0
3                  0             1
4                  1             0
..               ...           ...
895                0             1
896                0             1
897                1             0
898                1             0
899                1             0

[900 rows x 2 columns]

In [103]:
data_rata_rata_overdue = data[["rata_rata_overdue"]]

In [104]:
data_rata_rata_overdue.head(25)

   rata_rata_overdue
0       61 - 90 days
1       61 - 90 days
2        0 - 30 days
3       46 - 60 days
4       31 - 45 days
5        0 - 30 days
6       31 - 45 days
7       31 - 45 days
8       31 - 45 days
9       31 - 45 days
10      31 - 45 days
11      31 - 45 days
12      31 - 45 days
13      31 - 45 days
14      31 - 45 days
15      31 - 45 days
16       0 - 30 days
17       0 - 30 days
18       0 - 30 days
19      31 - 45 days
20      31 - 45 days
21      31 - 45 days
22       0 - 30 days
23       0 - 30 days
24       0 - 30 days

In [105]:
rata_rata_overdue = pd.get_dummies(data_rata_rata_overdue)

In [106]:
rata_rata_overdue

,rata_rata_overdue_0 - 30 days,rata_rata_overdue_31 - 45 days,rata_rata_overdue_46 - 60 days,rata_rata_overdue_61 - 90 days,rata_rata_overdue_> 90 days
0,0,0,0,1,0
1,0,0,0,1,0
2,1,0,0,0,0
3,0,0,1,0,0
4,0,1,0,0,0
...,...,...,...,...,...
895,0,0,0,0,1
896,0,0,1,0,0
897,1,0,0,0,0
898,0,1,0,0,0
899,1,0,0,0,0

In [107]:
data_olah = pd.concat([kpr_aktif, rata_rata_overdue], axis=1)

In [108]:
data_hasil = pd.concat([data_asli, data_olah], axis=1)

In [109]:
data_hasil

,Unnamed: 0,kode_kontrak,pendapatan_setahun_juta,durasi_pinjaman_bulan,jumlah_tanggungan,risk_rating,kpr_aktif_TIDAK,kpr_aktif_YA,rata_rata_overdue_0 - 30 days,rata_rata_overdue_31 - 45 days,rata_rata_overdue_46 - 60 days,rata_rata_overdue_61 - 90 days,rata_rata_overdue_> 90 days
0,1,AGR-000001,295,48,5,4,0,1,0,0,0,1,0
1,2,AGR-000011,271,36,5,4,0,1,0,0,0,1,0
2,3,AGR-000030,159,12,0,1,1,0,1,0,0,0,0
3,4,AGR-000043,210,12,3,3,0,1,0,0,1,0,0
4,5,AGR-000049,165,36,0,2,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,896,AGR-010739,112,48,5,5,0,1,0,0,0,0,1
896,897,AGR-010744,120,48,2,3,0,1,0,0,1,0,0
897,898,AGR-010758,166,24,2,1,1,0,1,0,0,0,0
898,899,AGR-010775,196,48,0,2,1,0,0,1,0,0,0
899,900,AGR-010790,204,24,2,1,1,0,1,0,0,0,0

**Normalisasi**