# Categorical to Numeric

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
dataset_url = 'https://raw.githubusercontent.com/HambaliFitrianto/datamining/main/credit_score.csv'
data = pd.read_csv(dataset_url)

In [ ]:
data.head()

,Unnamed: 0,kode_kontrak,pendapatan_setahun_juta,kpr_aktif,durasi_pinjaman_bulan,jumlah_tanggungan,rata_rata_overdue,risk_rating
0,1,AGR-000001,295,YA,48,5,61 - 90 days,4
1,2,AGR-000011,271,YA,36,5,61 - 90 days,4
2,3,AGR-000030,159,TIDAK,12,0,0 - 30 days,1
3,4,AGR-000043,210,YA,12,3,46 - 60 days,3
4,5,AGR-000049,165,TIDAK,36,0,31 - 45 days,2

In [ ]:
data_asli = data.drop(columns=['kpr_aktif', 'rata_rata_overdue'])

In [ ]:
data_kpr = data[["kpr_aktif"]]

In [ ]:
data_kpr.head(25)

   kpr_aktif
0         YA
1         YA
2      TIDAK
3         YA
4      TIDAK
5      TIDAK
6      TIDAK
7      TIDAK
8      TIDAK
9      TIDAK
10     TIDAK
11     TIDAK
12     TIDAK
13     TIDAK
14     TIDAK
15     TIDAK
16        YA
17     TIDAK
18     TIDAK
19     TIDAK
20     TIDAK
21     TIDAK
22     TIDAK
23     TIDAK
24     TIDAK

In [ ]:
kpr_aktif = pd.get_dummies(data_kpr)

In [ ]:
kpr_aktif

     kpr_aktif_TIDAK  kpr_aktif_YA
0                  0             1
1                  0             1
2                  1             0
3                  0             1
4                  1             0
..               ...           ...
895                0             1
896                0             1
897                1             0
898                1             0
899                1             0

[900 rows x 2 columns]

In [ ]:
data_rata_rata_overdue = data[["rata_rata_overdue"]]

In [ ]:
data_rata_rata_overdue.head(25)

   rata_rata_overdue
0       61 - 90 days
1       61 - 90 days
2        0 - 30 days
3       46 - 60 days
4       31 - 45 days
5        0 - 30 days
6       31 - 45 days
7       31 - 45 days
8       31 - 45 days
9       31 - 45 days
10      31 - 45 days
11      31 - 45 days
12      31 - 45 days
13      31 - 45 days
14      31 - 45 days
15      31 - 45 days
16       0 - 30 days
17       0 - 30 days
18       0 - 30 days
19      31 - 45 days
20      31 - 45 days
21      31 - 45 days
22       0 - 30 days
23       0 - 30 days
24       0 - 30 days

In [ ]:
rata_rata_overdue = pd.get_dummies(data_rata_rata_overdue)

In [ ]:
rata_rata_overdue

,rata_rata_overdue_0 - 30 days,rata_rata_overdue_31 - 45 days,rata_rata_overdue_46 - 60 days,rata_rata_overdue_61 - 90 days,rata_rata_overdue_> 90 days
0,0,0,0,1,0
1,0,0,0,1,0
2,1,0,0,0,0
3,0,0,1,0,0
4,0,1,0,0,0
...,...,...,...,...,...
895,0,0,0,0,1
896,0,0,1,0,0
897,1,0,0,0,0
898,0,1,0,0,0
899,1,0,0,0,0

In [ ]:
data_olah = pd.concat([kpr_aktif, rata_rata_overdue], axis=1)

In [ ]:
data_hasil = pd.concat([data_asli, data_olah], axis=1)

In [ ]:
data_hasil

,Unnamed: 0,kode_kontrak,pendapatan_setahun_juta,durasi_pinjaman_bulan,jumlah_tanggungan,risk_rating,kpr_aktif_TIDAK,kpr_aktif_YA,rata_rata_overdue_0 - 30 days,rata_rata_overdue_31 - 45 days,rata_rata_overdue_46 - 60 days,rata_rata_overdue_61 - 90 days,rata_rata_overdue_> 90 days
0,1,AGR-000001,295,48,5,4,0,1,0,0,0,1,0
1,2,AGR-000011,271,36,5,4,0,1,0,0,0,1,0
2,3,AGR-000030,159,12,0,1,1,0,1,0,0,0,0
3,4,AGR-000043,210,12,3,3,0,1,0,0,1,0,0
4,5,AGR-000049,165,36,0,2,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,896,AGR-010739,112,48,5,5,0,1,0,0,0,0,1
896,897,AGR-010744,120,48,2,3,0,1,0,0,1,0,0
897,898,AGR-010758,166,24,2,1,1,0,1,0,0,0,0
898,899,AGR-010775,196,48,0,2,1,0,0,1,0,0,0
899,900,AGR-010790,204,24,2,1,1,0,1,0,0,0,0

**Normalisasi**

In [110]:
fitur = data_hasil.drop(columns=['kode_kontrak', 'risk_rating'])
fitur

,Unnamed: 0,pendapatan_setahun_juta,durasi_pinjaman_bulan,jumlah_tanggungan,kpr_aktif_TIDAK,kpr_aktif_YA,rata_rata_overdue_0 - 30 days,rata_rata_overdue_31 - 45 days,rata_rata_overdue_46 - 60 days,rata_rata_overdue_61 - 90 days,rata_rata_overdue_> 90 days
0,1,295,48,5,0,1,0,0,0,1,0
1,2,271,36,5,0,1,0,0,0,1,0
2,3,159,12,0,1,0,1,0,0,0,0
3,4,210,12,3,0,1,0,0,1,0,0
4,5,165,36,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
895,896,112,48,5,0,1,0,0,0,0,1
896,897,120,48,2,0,1,0,0,1,0,0
897,898,166,24,2,1,0,1,0,0,0,0
898,899,196,48,0,1,0,0,1,0,0,0
899,900,204,24,2,1,0,1,0,0,0,0

In [111]:
from sklearn.preprocessing import MinMaxScaler

In [112]:
scaler = MinMaxScaler()

In [113]:
hasil = scaler.fit_transform(fitur)
namaFitur = fitur.columns.copy()

In [114]:
hasil

array([[0.        , 0.97826087, 1.        , ..., 0.        , 1.        ,
        0.        ],
       [0.00111235, 0.87391304, 0.66666667, ..., 0.        , 1.        ,
        0.        ],
       [0.00222469, 0.38695652, 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.99777531, 0.4173913 , 0.33333333, ..., 0.        , 0.        ,
        0.        ],
       [0.99888765, 0.54782609, 1.        , ..., 0.        , 0.        ,
        0.        ],
       [1.        , 0.5826087 , 0.33333333, ..., 0.        , 0.        ,
        0.        ]])

In [115]:
pd.DataFrame(hasil,columns=namaFitur)

,Unnamed: 0,pendapatan_setahun_juta,durasi_pinjaman_bulan,jumlah_tanggungan,kpr_aktif_TIDAK,kpr_aktif_YA,rata_rata_overdue_0 - 30 days,rata_rata_overdue_31 - 45 days,rata_rata_overdue_46 - 60 days,rata_rata_overdue_61 - 90 days,rata_rata_overdue_> 90 days
0,0.000000,0.978261,1.000000,0.833333,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,0.001112,0.873913,0.666667,0.833333,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,0.002225,0.386957,0.000000,0.000000,1.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.003337,0.608696,0.000000,0.500000,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,0.004449,0.413043,0.666667,0.000000,1.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
895,0.995551,0.182609,1.000000,0.833333,0.0,1.0,0.0,0.0,0.0,0.0,1.0
896,0.996663,0.217391,1.000000,0.333333,0.0,1.0,0.0,0.0,1.0,0.0,0.0
897,0.997775,0.417391,0.333333,0.333333,1.0,0.0,1.0,0.0,0.0,0.0,0.0
898,0.998888,0.547826,1.000000,0.000000,1.0,0.0,0.0,1.0,0.0,0.0,0.0
899,1.000000,0.582609,0.333333,0.333333,1.0,0.0,1.0,0.0,0.0,0.0,0.0